.container {
  position: absolute;
  right: 0px;
  min-width: 30vw;
  height: calc(100vh - 60px);
  display: flex;
  justify-content: left;
  margin: 0px;
  padding: 20px;
  border-width: 1px 0 0 1px;
  border-color: rgb(150, 150, 150);
}
.container > * {
  margin: 20px;
  position: absolute;
  z-index: 1;
  pointer-events: all;
}
.draggableContainer {
  border-radius: 2px;
  border-width: 1px;
  border-color: cornflowerblue;
  margin: auto;
  padding: 30px;
  cursor: pointer;
}