.messageBox {
  position: relative;
  color: cornflowerblue;
  border-radius: 50%;
  border-width: 1px;
  border-color: blue;
  width: 25px;
  height: 20px;
  font-size: x-small;
  padding: 1px;
  line-height: 3px;
  text-align: center;
  margin: auto;
  font-weight: bolder;
}
.messageBox::before {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 10px;
  transform: rotate(61deg);
  width: 5px;
  height: 5px;
  border-style: solid;
  border-color: blue;
  border-width: 0 1px 1px 0;
  background: white;
}

.messageText {
  color: cornflowerblue;
  padding: 10px;
  margin: auto;
}
